.site-footer {
    background-color: #26272b;
    padding: 20px 0;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
    margin: 0.6rem;
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #ffffff;
    font-size: 16px;
    height: 50px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
    padding-top: 15px;
}

.site-footer .logoImg {
    margin-left: -15px;
    margin-bottom: 10px;
    height: 70px;
    border-radius: 5px;
    object-fit: cover;
}

.site-footer .footer-links {
    padding-left: 0;
    list-style: none
}

.site-footer .footer-links li {
    display: block;
    margin: 8px 0;
}

.site-footer a {
    color: #737373
}

.site-footer .footer-links a:hover {
    color: #ffffff;
    text-decoration: none;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.site-footer .footer-links a:active,
.site-footer .footer-links a:focus{
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons .icon {
    font-size: 20px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}