.award .all-award {
    margin-bottom: 100px;
    margin-top: 130px;
}

.award ul.timeline {
    list-style-type: none;
    position: relative;
}

.award ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

.award ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 5;
    margin-top: 25px;
}

@media (min-width: 768px) {
    .award .offset-md-3 {
        margin-left: 0%;
    }
}

.award ul.timeline .award-name {
    color: #1C3D88;
    font-size: 25px;
}

.award ul.timeline p {
    font-size: 18px;
}

.award .mdrt{
    text-align: center;
    margin-top: 20px;
}

.award .mdrt img {
    width: 65%;
    margin-bottom: 30px;
}

.award .mdrt span {
    width: 90%;
    font-size: 13px;
}

.award .mdrt b {
    font-size: 18px;
}

.award .agency-title {
    color: #1C3D88;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.award .grid-list {
    margin: auto;
    max-width: 1536px;
}

.award .grid-list .grid-cols-2 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.award .grid-item {
    gap: 0.5rem;
    display: grid;
}

.award .grid-item .object-cover {
    object-fit: cover;
    object-position: center top;
    border-radius: 9999px;
    flex-shrink: 0;
}

.award .grid-item .w-24 {
    width: 5rem;
    height: 5rem;
}


@media (min-width: 1280px) {
    .award .grid-list .grid-cols-2 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .award .grid-list .md\:grid-cols-2 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 640px) {
    .award .grid-item .sm\:mx-4 {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0.5rem;
    }
}


/*self tab*/

.award .w3-bar .w3-button{
    border:none;
    width:33%;
    background: none;
    padding-bottom:10px;
    color:#979797;
}

.award .w3-bar .w3-button:hover{
    color:#181818;
    border-bottom: 1px solid #fd264f;
}

.award .w3-bar button:focus {
    outline: none;
}

.award .w3-bar .active{
    border-bottom: 2.5px solid #fd264f;
    color:#181818;
}

.award .w3-bar .active:hover{
    border-bottom: 2.5px solid #fd264f;
}
.award .allAgency ul {
    padding-inline-start: 0px;
    margin-bottom:0.5em;
}
.award .allAgency .list-flex{
    display:flex;
}

.award .allAgency .list-flex .details{
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.award .allAgency .list-flex .name {
    font-size: 17px;
    font-weight:700;
}
.award .allAgency .list-flex .member {
    font-size: 13px;
    color:#727272;
}