.about {
    margin-bottom: 80px;
    margin-top: -20px;
}

.about .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.about .m-teambanner {
    position: relative;
    margin-bottom: 80px;
    width: 100%;
    display: none;
}

@media (max-width: 992px) {
    .about .container {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .about .container {
        width: 90%;
    }
}

.about .aboutTitle {
    position: relative;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center !important;
    margin-top: -3.5rem !important;
    color: #003a48;
}

.about .aboutTitle span{
    font-size: 30px;
    font-weight: 400;
    color: #fdbe12;
}

.about .aboutSubtitle {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center !important;
    margin-bottom: 1rem !important;
    margin-top: -1rem !important;
}

.about .aboutTitle2 {
    position: relative;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center !important;
    margin-bottom: 1.5rem !important;
    margin-top: 3.5rem !important;
    color: #003a48;
}

.about .aboutSubtitle2 {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center !important;
    margin-bottom: 1rem !important;
    margin-top: -1rem !important;
}

.about .title-box {
    position: relative;
    margin-bottom: var(--margin-bottom-70);
}

.about .title-box.centered {
    margin: 0 auto;
    text-align: center;
}

.about .title-box .subtitle {
    position: relative;
    font-weight: 700;
    color: var(--main-color);
    font-size: var(--font-12);
    letter-spacing: 0.40em;
    line-height: 1em;
    margin-bottom: var(--margin-bottom-10);
    text-align: center !important;
}

.about .title-box .subtitle2 {
    position: relative;
    font-weight: 700;
    color: var(--main-color);
    font-size: var(--font-12);
    letter-spacing: 0.40em;
    line-height: 1em;
    margin-bottom: var(--margin-bottom-10);
    display: flex;
}

.about .title-box .subtitle img {
    width: 9%;
}

.about .title-box .subtitle2 img {
    width: 13%;
}

.about .title-box span {
    padding: 10px 0;
    color: #F2AC0D;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.20em;
}

.about .title-box h2 {
    position: relative;
    margin-bottom: 1em;
}

.about .title-box .text {
    position: relative;
    padding-top: var(--padding-top-15);
    line-height: 1.5em;
}

.about .title-box.centered .text {
    max-width: 420px;
    margin: 0 auto;
}

.about .title-box {
    margin-bottom: var(--margin-bottom-40);
}

.about .awardImg1 {
    margin-top:20px;
    width: 100%;
    filter: brightness(1.15);
    z-index: -1;
}

.about .content {
    margin-top: 6rem;
}

@media (max-width: 800px) {
    .about .m-teambanner {
        display: block;
    }
}

@media (max-width: 500px) {
    .about .m-teambanner {
        display: block;
    }
}