.aboutus .page-title {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block;
    padding: 175px 0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #181818;
    background-image: url(https://images.pexels.com/photos/15007786/pexels-photo-15007786.jpeg);
    filter: brightness(1.15);
}

.aboutus .page-title__holder {
    max-width: 878px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.aboutus .page-title__title {
    line-height: 1.2;
    margin-bottom: 8px;
    color: #1C3D88;
}

.aboutus .page-title__subtitle {
    font-size: 18px;
    color: #1C3D88;
    margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
    .aboutus .page-title {
        padding: 120px 0;
    }
}

@media only screen and (max-width: 767px) {
    .aboutus .page-title {
        padding: 60px 0;
    }
}

.aboutus .contentTitle {
    position: relative;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center !important;
    margin-top: 1.5rem !important;
    margin-bottom: 1rem !important;
}

.aboutus .hi-icon {
    font-size: 44px;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #F44336;
    margin: auto;
    display: table;
    margin-bottom: 5px;
    width: 85px;
    height: 85px;
    line-height: 85px;
    border-radius: 50%;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.aboutus .hi-icon svg {
    fill: #F44336;
    margin-bottom: 10px;
}

.aboutus .hi-icon-effect:hover svg {
    fill: #fff;
}

.aboutus .hi-icon-effect:hover .hi-icon {
    color: #fff;
    background: #F2AC0D;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.aboutus .service-name {
    text-align: center;
    font-size: 21px;
    font-family: Roboto Slab, sans-serif;
}

.aboutus .service-text {
    text-align: center;
    font-weight: 300;
    margin-top: 15px;
}

.aboutus .title-box {
    position: relative;
    margin-bottom: var(--margin-bottom-70);
}

.aboutus .title-box .subtitle {
    position: relative;
    font-weight: 700;
    color: var(--main-color);
    font-size: var(--font-12);
    letter-spacing: 0.40em;
    line-height: 1em;
    margin-bottom: var(--margin-bottom-10);
    text-align: center !important;
}

.aboutus .title-box .subtitle img {
    width: 9%;
}

.aboutus .title-box span {
    padding: 10px 0;
    color: #F2AC0D;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.20em;
}

.aboutus .title-box .text {
    position: relative;
    padding-top: var(--padding-top-15);
    line-height: 1.5em;
}