.posts1 .page-title {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block;
    padding: 175px 0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #181818;
    background-image: url(https://images.pexels.com/photos/15007786/pexels-photo-15007786.jpeg);
    filter: brightness(1.15);
}

.posts1 .page-title__holder {
    max-width: 878px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.posts1 .page-title__title {
    line-height: 1.2;
    margin-bottom: 8px;
    color: #1C3D88;
}

.posts1 .page-title__subtitle {
    font-size: 18px;
    color: #1C3D88;
    margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
    .posts1 .page-title {
        padding: 120px 0;
    }
}

@media only screen and (max-width: 767px) {
    .posts1 .page-title {
        padding: 60px 0;
    }
}

/* Generic styles */
.posts1 html {
    scroll-behavior: smooth;
}

.posts1 a:hover {
    opacity: .6;
}

/* posts-list styles */
.posts1 .posts-list {
    padding: 4rem;
}

.posts1 .posts-list a {
    text-decoration: none;
}

.posts1 .posts-list>ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
    padding-inline-start: 0;
    list-style-type: none;
}

.posts1 .posts-list>ul>li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.posts1 .posts-list>ul>li>figure>img {
    width: 100%;
}

.posts1 .posts-list>ul>li>a {
    padding: .5rem 1rem;
    margin: .5rem;
}

.posts1 .postImg {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
}

.posts1 .postInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 5px;
}

.posts1 .postTitle {
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
}

.posts1 .postDate {
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 13px;
    color: #999;
    margin-top: 15px;
    margin-left: 0.75rem;
}

.posts1 .postDesc {
    font-family: "Varela Round", sans-serif;
    line-height: 24px;
    margin-top: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    color: #666666;
    font-size: 1rem;
}

.posts1 .postDesc::first-letter {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 400px) {
    .posts1 .posts-list>ul {
        display: block;
    }
}

.posts1 .button-margin{
    margin-top: 30px;
    margin-left: 30px;
}

.posts1 .button {
    background: #428bca;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.posts1 .button:hover {
    background: #3876ac;
}

.posts1 .button:active {
    border: 0;
}