.award .all-award{
    margin-bottom: 100px;
}

.award .page-title {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block;
    padding: 175px 0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #181818;
    background-image: url(https://images.pexels.com/photos/15007786/pexels-photo-15007786.jpeg);
    filter: brightness(1.15);
}

.award .page-title.bg-dark-overlay:before {
    background-color: rgba(0, 0, 0, 0.36);
}

.award .page-title__holder {
    max-width: 878px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.award .page-title__title {
    line-height: 1.2;
    margin-bottom: 8px;
    color: #1C3D88;
}

.award .page-title__subtitle {
    font-size: 18px;
    color: #1C3D88;
    margin-bottom: 0;
}

.award .page-title--tall {
    padding: 300px 0;
}

@media only screen and (max-width: 991px) {
    .award .page-title {
        padding: 120px 0;
    }
}

@media only screen and (max-width: 767px) {
    .award .page-title {
        padding: 60px 0;
    }
}

.award .contentTitle {
    position: relative;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center !important;
    margin-top: 1.5rem !important;
    margin-bottom: 1rem !important;
}

.award .contentTitle2 {
    position: relative;
    font-size: 25px;
    font-weight: 700;
    color: #00008B;
    text-transform: uppercase;
    margin-bottom: 1rem !important;
}

.hi-icon {
    font-size: 44px;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #F44336;
    margin: auto;
    display: table;
    margin-bottom: 5px;
    width: 85px;
    height: 85px;
    line-height: 85px;
    border-radius: 50%;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.hi-icon svg {
    fill: #F44336;
    margin-bottom: -10px;
}

.hi-icon-effect:hover svg {
    fill: #fff;
}

.hi-icon-effect:hover .hi-icon {
    color: #fff;
    background: #F2AC0D;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.service-name {
    text-align: center;
    font-size: 21px;
    font-family: Roboto Slab, sans-serif;
}

.service-name:after {
    content: "";
    width: 50px;
    position: relative;
    border-bottom: 1px solid #eee;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.service-text {
    text-align: center;
    font-weight: 300;
    margin-top: 15px;
}

.award ul.timeline {
    list-style-type: none;
    position: relative;
}

/*.award ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}*/

.award ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

.award ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
    margin-top: 25px;
}

@media (min-width: 768px) {
    .award .offset-md-3 {
        margin-left: 0%;
    }
}

.award ul.timeline .award-name {
    color: #1C3D88;
    font-size: 25px;
}

.award ul.timeline p {
    font-size: 18px;
}

.award .photoGroup .award1 {
    border: 5px solid;
    border-image: linear-gradient(45deg, #BFBFBF, #D9D9D9) 1;
    width: 60%;
    position: absolute;
    left: 5%;
    z-index: 1;
}

.award .photoGroup .award2 {
    border: 5px solid;
    border-image: linear-gradient(45deg, #D9D9D9, #D9D9D9) 1;
    width: 60%;
    position: absolute;
    left: 45%;
    top: 15%;
}

.award .photoGroup .award3 {
    border: 5px solid;
    border-image: linear-gradient(45deg, #BFBFBF, #D9D9D9) 1;
    width: 55%;
    position: relative;
    margin-left: 5rem;
    margin-top: 20rem;
}

@media only screen and (max-width: 700px) {
    .award .photoGroup .award2 {
        width: 45%;
        left: 45%;
        top: 15%;
    }

    .award .photoGroup .award3 {
        width: 55%;
        margin-left: 2vw;
        margin-top: 50vw;
    }
}

.award .title-box {
    position: relative;
    margin-bottom: var(--margin-bottom-70);
}

.award .title-box.centered {
    margin: 0 auto;
    text-align: center;
}

.award .title-box .subtitle {
    position: relative;
    font-weight: 700;
    color: var(--main-color);
    font-size: var(--font-12);
    letter-spacing: 0.40em;
    line-height: 1em;
    margin-bottom: var(--margin-bottom-10);
    text-align: center !important;
}

.award .title-box .subtitle2 {
    position: relative;
    font-weight: 700;
    color: var(--main-color);
    font-size: var(--font-12);
    letter-spacing: 0.40em;
    line-height: 1em;
    margin-bottom: var(--margin-bottom-10);
    display: flex;
}

.award .title-box .subtitle img {
    width: 9%;
}

.award .title-box .subtitle2 img {
    width: 13%;
}

.award .title-box span {
    padding: 10px 0;
    color: #F2AC0D;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.20em;
}

.award .title-box h2 {
    position: relative;
    margin-bottom: 1em;
}

.award .title-box .text {
    position: relative;
    padding-top: var(--padding-top-15);
    line-height: 1.5em;
}

.award .title-box.centered .text {
    max-width: 420px;
    margin: 0 auto;
}

.award .contentImg1,
.award .contentImg1_span {
    width: 70%;
    margin-left: 4rem;
}

.award .content2 {
    margin-bottom: 3rem;
}







.award .grid-list{
    margin: auto;
	max-width: 1536px;
}

.award .grid-list .grid-cols-2 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

.award .grid-item{
	gap: 1rem;
	display: grid;
}

.award .grid-item .px-12 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.award .grid-item .duration-300 {
	transition-duration: 300ms;
}

.award .grid-item .transition-colors {
	transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.award .grid-item .border {
	border-width: 1px;
	border-radius: 0.75rem;
	cursor: pointer;
}

.award .grid-item .transform {
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.award .grid-item .flex-row {
	flex-direction: row;
}

.award .grid-item .flex {
	display: flex;
	flex-direction: column;
}

.award .grid-item .ring-gray-300 {
	border-color: rgb(209 213 219 / var(--tw-ring-opacity));
}

.award .grid-item .ring-4 {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.award .grid-item .object-cover {
	object-fit: cover;
    object-position: center top;
}

.award .grid-item .rounded-full {
	border-radius: 9999px;
}

.award .grid-item .flex-shrink-0 {
	flex-shrink: 0;
}

.award .grid-item .w-24 {
	width: 6rem;
}

.award .grid-item .h-24 {
	height: 6rem;
}

.award .grid-item .mt-4 {
	margin-top: 0.5rem!important;
}

.award .grid-item .text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}

.award .grid-item .capitalize {
    text-transform: capitalize;
}

.award .grid-item .font-semibold {
    font-weight: 600;
}

.award .grid-item .text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.award .grid-item .text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.award .grid-item .mt-2 {
    margin-top: 0.5rem;
}

@media (min-width: 1280px) {
	.award .grid-list .grid-cols-2 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (min-width: 768px) {
	.award .grid-list .md\:grid-cols-2 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.award .grid-item .md\:text-2xl {
		font-size: 1.2rem;
		line-height: 2rem;
	}
}

@media (min-width: 640px) {
	.award .grid-item .sm\:flex-row {
		flex-direction: row;
	}
	.award .grid-item .flex {
		margin-left: -1rem;
		margin-right: -1rem;
        display: flex;
	}
	.award .grid-item .sm\:mt-0 {
		margin-top: 0px;
	}
}

@media (min-width: 640px) {
	.award .grid-item .sm\:mx-4 {
		margin-left: 1rem;
		margin-right: 1rem;
        margin-top: 1rem;
	}
}

@media (max-width: 1200px) {
	.award .grid-item .flex {
        display: block;
	}
}

.award .qualify {
    width: 90%;
    margin: 0px auto 10px auto;
    text-align: right;

}

.award .qualify b{
    color: #1C3D88
}

.award .info{
    font-size: 13px;
}
















.award .list {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	font-family: "Lato", Arial, Helvetica, serif;
	font-size: 1em;
	text-align: center;
}

.award .list h2 {
	text-align: center;
}

.award .list .team {
	padding: 2em 0 2em 2.5em;
	margin: 0;
}

.award .list .member {
	margin: 1.5em 0 0.5em;
	padding: 0.73em;
	background: linear-gradient(83deg,
			#DDEEFF 0 97%,
			#fff0 calc(97% + 1px) 100%);
	position: relative;
	list-style: none;
	display: inline-block;
	transform: scale(0.85);
	transition: var(--trans);
	text-align: left;
}

.award .list .member:nth-of-type(even) {
	text-align: right;
	background: linear-gradient(-83deg,
			#DDEEFF 0 97%,
			#fff0 calc(97% + 1px) 100%);
	margin-left: -3em;
}

.award .list .thumb {
	width: 20vmin;
	height: 20vmin;
	float: left;
	margin-right: 1.25em;
	background: linear-gradient(var(--deg),
			var(--dark) 0 70%,
			#DDEEFF 0% 100%);
	transform: rotate(-4deg);
	transition: var(--trans);
	border-radius: 0.25em;
	overflow: hidden;
	margin-left: -3em;
	padding: 0.5em;
}

.award .list .member:nth-of-type(even) .thumb {
	--deg: 86deg;
	float: right;
	margin-left: 2em;
	margin-right: -2em;
	transform: rotate(4deg);
}

.award .list .thumb img {
	width: 100%;
	height: 100%;
	border-radius: 0.25em;
	background: var(--dark);
	object-fit:contain;
}

.award .list .member:hover {
	transform: scale(0.95);
	transition: var(--trans);
	filter: drop-shadow(0px 20px 10px #0008);
}

.award .list .member:hover .thumb {
	padding: 0.1em;
	transition: var(--trans);
	transform: rotate(-1deg);
	--deg: -89deg;
}

.award .list .member:nth-of-type(even):hover .thumb {
	--deg: 91deg;
}

.award .list .member:hover .thumb img {
	filter: none;
	transition: var(--trans);
}

.award .list .description {
	padding-top: 1vmin;
}

.award .list .description p {
	padding: 0 4em;
	margin-bottom: 1em;
}

.award .list h3 {
	display: inline;
	transform: rotate(-2deg);
	position: absolute;
	margin: 0;
	margin-top: -2.25em;
	left: 9vmin;
	padding: 0.5em 0.75em;
	color: #1C3D88;
	border-radius: 0.25em;
	font-size: 1.35em;
	transform-origin: left bottom;
}

.award .list .member:nth-of-type(even) h3 {
	left: inherit;
	right: 9vmin;
	transform: rotate(2deg);
	transform-origin: right bottom;
}

.award .list .member:hover h3 {
	transition: var(--trans);
	transform: rotate(0deg);
}

.award .list .co-funder:after {
	content: "CO-FUNDER";
	font-size: 0.75em;
	position: absolute;
	top: -1.5em;
	background: #DDEEFF;
	right: 4em;
	transform: rotate(3deg);
	padding: 0.35em 0.75em 0.5em;
	border-radius: 0.25em;
	color: var(--dark);
	font-weight: bold;
}

.award .list .co-funder:nth-of-type(even):after {
	right: inherit;
	left: 4em;
	transform: rotate(-3deg);
}

.award .list .description p a {
	display: inline-block;
	margin: 0.5em 0 0 0;
	background: var(--dark);
	color: #DDEEFF;
	padding: 0.1em 0.5em 0.35em;
	border-radius: 0.5em;
	text-decoration: none;
	transition: var(--trans);
}

.award .list .description p a:hover {
	transition: var(--trans);
	color: var(--dark);
	background: #DDEEFF;
	font-weight: bold;
}

.award .list .description p a img {
	float: left;
	width: 22px;
	filter: invert(1);
	border-radius: 0.15em;
	padding: 2px;
	background: #fff;
	margin-right: 2px;
}

.award .agency {
    color: #1C3D88;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
}